.main{
    width: calc(-24rem + 100vh);
    padding-top: 3.2rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex: 1;
    height: 100%;
}
button.ant-btn{
    padding: .4rem 1.5rem;
}
button span{
    font-size: 1.4rem;
}
.title__block{
    display: flex;
    column-gap: 3rem;
    margin-bottom: 3.2rem;
}
.title{
    font-size: 2.2rem;
    font-weight: 700;
}
.places__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}
.places__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27rem;
    row-gap: 1rem;
    padding: 4rem;
    border: .1rem solid rgb(216 216 216);
    border-radius: .8rem;
}

/*Элементы фильтра*/
.form .ant-form-item-control-input-content{
    width: 28rem;
    height: 4rem;
}

/*Таб редактирование*/
.object-info-tab-content-block .ant-form-item-control-input-content{
    width: 28rem;
    height: 100%;
}
.object-info-tab-content-block .ant-select-selection-search{
    height: 4rem!important;
}
.object-info-tab-content-block .block-full-width{
    width: 100%;
}
.object-info-tab-content-block .block-full-width .ant-form-item {
    width: 100% !important;
}





.form__wrap .ant-row.ant-form-row.css-dev-only-do-not-override-kqecok {
    display: flex!important;
    flex-direction: column!important;
    align-items: start!important;
}
.form__wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3.2rem;
}
.form__btns{
    display: flex;
}
.form__btns .ant-form-item.css-kqecok{
    width: max-content!important;
    margin-right: 1.6rem;
}
.form__btns .ant-form-item{
    width: max-content!important;
    margin-right: 1.6rem;
}
.form__block{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.form__elem{
    margin-inline-end: 0!important;
}
.form__elem > div{
    display: flex!important;
    flex-direction: column!important;
}
.form__input{
    width: 28rem!important;
}
.block-full-width textarea{
    width: 100%!important;
    height: 8rem !important;
}
.block-full-width .ant-col.ant-form-item-control.css-kqecok{
    width: 100%!important;
}
.block-full-width .ant-form-item.css-kqecok{
    width: 100%!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
label{
    font-size: 1.4rem!important;
}
span.ant-select-selection-item {
    font-size: 1.4rem!important;
}
input#form_item_highway {
    font-size: 1.4rem!important;
}
input#form_item_id {
    height: 4rem!important;
}
p{
    margin-bottom: 0!important;
    font-size: 1.4rem!important;
}
span.ant-upload-list-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
span.anticon.anticon-delete {
    margin: 0!important;
}



/*Табы*/
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #FFFFFF;
}


.ant-select.ant-select-in-form-item.css-dev-only-do-not-override-kqecok.w-full.ant-select-single.ant-select-show-arrow {
    height: 4rem!important;
}
.ant-card.css-kqecok.ant-card-bordered.village-edit-tab-content-block .ant-input.css-kqecok{
    border: none!important;
}

.ant-input.css-dev-only-do-not-override-kqecok{
    height: 4rem;
}
.ant-form-item{
    margin-bottom: 2.4rem;
}
.ant-card-body{
    font-family: sans-serif, "Inter", "Helvetica"!important;
    color: #253858;
}
.ant-select-selector{
    height: 4rem!important;
}
.object-info-tab-content .ant-card-body{
    padding: 0!important;
    border-top: none!important;
    border-right: none!important;
    border-bottom: none!important;
    border-left: none!important;
}
.object-info-tab-content-block .object-info-tab-content{
    border-right: none!important;
    border-left: none!important;
    border-radius: 0!important;
    padding: .5rem 0;
}
.village-edit-tab-content-block .ant-input{
    height: 100%!important;
}
.village-edit-tab-content-block .block-full-width .ant-form-item{
    width: 100%!important;
}
.village-edit-tab-content-block .block-full-width .ant-form-item textarea{
    height: 8rem!important;
    width: 100%!important;
}
.village-edit-tab-content-block .block-full-width .ant-form-item textarea.ant-input {
    height: 8rem !important;
    width: 100% !important;
}
.village-edit-tab-content-block .ant-form-item.css-kqecok, .ant-input{
    width: 100%!important;
}
.village-edit-tab-content-block .ant-form-item-control-input-content{
    width: 28rem!important;
}
.village-edit-tab-content-block .ant-input{
    width: 28rem!important;
}
.village-edit-tab-content-block .ant-select-selector{
    height: 4rem!important;
}

.village-tabs .ant-tabs-nav-wrap{
    margin-bottom: 1.6rem;
}
.object-info-tab-content-block .village-edit-textarea textarea.ant-input{
    width: 100%!important;
}
/*.village-edit-tab-content-block .ant-form-item.village-edit-textarea {*/
/*    width: 100% !important;*/
/*    max-width: 100%!important;*/
/*}*/
.village-edit-tab-content div{
    width: 100%;
}

.block-full-width .ant-checkbox-wrapper{
    width: 28rem!important;
}
.ant-input-affix-wrapper{
    height: 4rem!important;
}

/*.ant-input{*/
/*    height: 4rem!important;*/
/*    width: 28rem!important;*/
/*}*/
/*.ant-select{*/
/*    height: 4rem!important;*/
/*    width: 28rem!important;*/
/*}*/
.ant-select-selector{
    height: 100% !important;
}
.ant-select-selection-search-input{
    height: 4rem!important;
}
.ant-form-item.css-kqecok{
    width: 28rem!important;
}




.ant-select-selector{
    width: 28rem;
}
input{
    width: 28rem;
}







.ant-modal-body .ant-select-selection-item{
    height: max-content;
    margin: auto;
}
.ant-modal-body:where(.css-dev-only-do-not-override-kqecok).ant-row {
    align-items: center;
}
.ant-modal-body .ant-row.ant-form-row.css-dev-only-do-not-override-kqecok {
    align-items: center;
}
.header__clock{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.ant-row.ant-form-row.css-kqecok {
    flex-direction: column!important;
    align-items: flex-start!important;
}
.ant-tabs-tab {
    font-size: 1.4rem!important;
}
.css-dev-only-do-not-override-kqecok.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab, :where(.css-dev-only-do-not-override-kqecok).ant-tabs-card.ant-tabs-top >div>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 0.4rem !important;
}
.layout form.ant-form.ant-form-horizontal.css-kqecok{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.ant-card.css-kqecok.ant-card-bordered{
    font-size: 1.4rem;
}
.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-in-form-item.css-dev-only-do-not-override-kqecok {
    height: 4rem;
    border-start-start-radius: .4rem;
    border-end-start-radius: .4rem;
}
.ant-radio-button-wrapper.ant-radio-button-wrapper-in-form-item.css-dev-only-do-not-override-kqecok{
    height: 4rem;
    border-start-end-radius: .4rem;
    border-end-end-radius: .4rem;
}
.ant-form-item-control-input-content{
    display: flex;
}





:where(.css-kqecok).ant-radio-button-wrapper {
    height: 4rem!important;
}
:where(.css-kqecok).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff!important;
}
:where(.css-kqecok).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff!important;
}
:where(.css-kqecok).ant-row{
    flex-direction: column!important;
    align-items: flex-start!important;
}
:where(.css-kqecok).ant-select-single .ant-select-selector .ant-select-selection-item, :where(.css-kqecok).ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 3rem;
}
:where(.css-kqecok).ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab, :where(.css-kqecok).ant-tabs-card.ant-tabs-top >div>.ant-tabs-nav .ant-tabs-tab {
    border-radius: .4rem!important;
}
:where(.css-kqecok).ant-tabs-card >.ant-tabs-nav .ant-tabs-tab, :where(.css-kqecok).ant-tabs-card >div>.ant-tabs-nav .ant-tabs-tab {
    padding: 0.6rem 1.2rem!important;
}
:where(.css-kqecok).ant-tabs-top >.ant-tabs-nav::before, :where(.css-kqecok).ant-tabs-bottom >.ant-tabs-nav::before, :where(.css-kqecok).ant-tabs-top >div>.ant-tabs-nav::before, :where(.css-kqecok).ant-tabs-bottom >div>.ant-tabs-nav::before {
    border-bottom: 0!important;
}
:where(.css-kqecok).ant-btn {
    font-size: 1.4rem!important;
    height: 4rem!important;
    padding: .4rem 1.5rem!important;
    border-radius: .4rem!important;
}
:where(.css-kqecok).ant-input {
    padding: .4rem 1.1rem!important;
    font-size: 1.4rem!important;
    border: .1rem solid #d9d9d9!important;
    border-radius: .6rem!important;
}
:where(.css-kqecok).ant-card .ant-card-body {
    padding: .5rem 0!important;
    border-radius: 0;
}
:where(.css-kqecok).ant-card-bordered {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-left: none;
    border-right: none;
}
:where(.css-kqecok)[class^="ant-col"], :where(.css-kqecok)[class*=" ant-col"] {
    font-size: 1.4rem;
}
:where(.css-kqecok).ant-input-number .ant-input-number-input {
    height: 4rem!important;
    padding: 0 1.1rem!important;
    border-radius: .4rem!important;
}
:where(.css-kqecok)[class^="ant-col"], :where(.css-kqecok)[class*=" ant-col"] {
    font-size: 1.4rem!important;
}
:where(.css-kqecok).ant-form-item .ant-form-item-control-input-content {
    display: flex;
    column-gap: 0.5rem;
}
:where(.css-dev-only-do-not-override-kqecok).ant-input {
    padding: .4rem 1.1rem;
    font-size: 1.4rem;
    border: .1rem solid #d9d9d9;
    border-radius: .4rem;
}
:where(.css-dev-only-do-not-override-kqecok).ant-form-item .ant-form-item-control-input {
    min-height: 4rem!important;
}
:where(.css-dev-only-do-not-override-kqecok).ant-form-item .ant-form-item-control-input {
    min-height: 4rem!important;
}
:where(.css-dev-only-do-not-override-kqecok).ant-input-number .ant-input-number-input {
    width: 100% !important;
    height: 4rem!important;
    padding: 0 1.1rem!important;
    border-radius: .4rem!important;
}

.objects-detail__info-subtitle{
    font-size: 1.4rem;
    color: #253858;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.owner-data__info{
    width: 45%;
    padding: 4rem;
    border: 1px solid #d8d8d8;
    border-radius: .4rem;
    height: 100%;
}
.owner-data__objects{
    width: 53%;
    padding: 4rem;
    border: 1px solid #d8d8d8;
    border-radius: .4rem;
}
.owner-data__objects-elem{
    display: flex;
}
.owner-data__objects-elem-e:first-child {
    flex: 1;
    display: flex;
}
.owner-data__objects-elem-e:first-child::after {
    content: "";
    display: inline-block;
    margin: 0 0.3rem;
    flex: 1;
    border-bottom: 1px dashed #253858;
    opacity: .2;
    transform: translateY(-0.35rem);
}
.owner-data__objects-item {
    display: grid;
    grid-template-columns: 25% 70%;
    align-items: start;
    justify-content: space-between;
    grid-gap: 3.2rem;
}
.owner-data__objects-pic{
    min-height: 20rem;
    object-fit: cover;
    border-radius: .4rem;
    background-color: #d8d8d8;
}
.owner-data__objects-img {
    min-height: 20rem;
    object-fit: cover;
    border-radius: .4rem;
}
.owner-data__objects-subtitle {
    margin-bottom: 1.6rem;
    font-weight: 600;
}


.cards-objects:where(.css-dev-only-do-not-override-kqecok)[class^="ant-card"], :where(.css-dev-only-do-not-override-kqecok)[class*=" ant-card"] {
    font-size: 1.4rem;
}

.cards-objects .ant-card-body{
    padding: .5rem 0!important;
}
.cards-objects .ant-card{
    border-top: .1rem solid #f0f0f0;
    border-bottom: .1rem solid #f0f0f0;
    border-left: none;
    border-right: none;
    border-radius: 0!important;
}
.grid-col-cast{
    grid-template-columns: 24% 14% 18% 15% 10% 14%;
}
.css-dev-only-do-not-override-kqecok.ant-btn{
    height: 4rem;
}


/*.login .ant-input{*/
/*    height: 100% !important;*/
/*    padding: 0 1rem!important;*/
/*}*/
.login{
    width: 43rem;
}
.login .ant-form-item.css-kqecok {
    width: 100% !important;
}
.login input{
    width: 100%;
    height: 100% !important;
    padding: 0 1rem!important;
}
.login .ant-form-item-control-input-content{
    height: 4rem;
}
.login .ant-btn{
    height: 4rem !important;
}
.login .ant-input-suffix{
    margin-left: 1rem!important;
}
